<ion-view view-title="PetHome">
  <ion-content class="padding">
    <h1 id="letra">Bienvenido a PetHome</h2>

    <div class="item item-body" id="item">
        <li>Adopta</li>
        <li>Busca</li>
        <li>Encuentra</li>
        <p>
          <a class="button icon-right ion-chevron-right button-calm" href="#/tab/extraviados">Mascotas Extraviadas</a>
        </p>

    </div>
    <div id="p">
        <p id="letra">Visita: </p>
      <a href="https://www.pethomeloja.tk"><b>https://www.pethomeloja.tk</b></a>
    </div>
  </ion-content>
</ion-view>